@font-face {
	font-family: San Francisco;
	src: local("-apple-system");
	font-weight: 300;
}
@font-face {
	font-family: San Francisco;
	src: local(".SFNSText-Regular");
	font-weight: 400;
}
@font-face {
	font-family: San Francisco;
	src: local("-apple-system");
	font-weight: 500;
}
@font-face {
	font-family: San Francisco;
	src: local("-apple-system");
	font-weight: 600;
}
@font-face {
	font-family: San Francisco;
	src: local(".SFNSText-Semibold");
	font-weight: 700;
}
@font-face {
	font-family: San Francisco;
	src: local("-apple-system");
	font-weight: 800;
}
@font-face {
	font-family: Segoe UI Historic;
	src: local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
	font-family: Segoe UI Historic;
	src: local("Arial Bold"), local("Arial");
	font-weight: 700;
	unicode-range: U+530-5F4, U+10A0-10FF;
}
._51u6 {
	margin-bottom: -4px;
}
._4i94 {
	display: none;
}
.selected ._4i94 {
	display: inline-block;
}
.selected ._4i95 {
	display: none;
}
._41uf {
	padding-right: 14px; display: inline-block; position: relative;
}
._41ug {
	padding-right: 14px; display: inline-block; position: relative;
}
._41uf .img {
	top: -2px; margin-left: 1px; vertical-align: middle; position: absolute;
}
._41ug .img {
	top: 1px; vertical-align: middle; position: absolute;
}
*:-ms-input-placeholder {
	color: rgb(144, 148, 156);
}
*:-ms-input-placeholder:focus {
	color: rgb(190, 194, 201);
}
.no_js *:-ms-input-placeholder {
	color: rgb(0, 0, 0);
}
html {
	-ms-overflow-style: scrollbar;
}
body {
	-ms-overflow-y: scroll;
}
.mini_iframe {
	-ms-overflow-y: visible;
}
.serverfbml_iframe {
	-ms-overflow-y: visible;
}
.auto_resize_iframe {
	height: auto; overflow: hidden;
}
.pipe {
	padding: 0px 3px; color: gray;
}
#content {
	margin: 0px; padding: 0px; width: auto;
}
.profile #content {
	min-height: 600px;
}
.home #content {
	min-height: 600px;
}
.search #content {
	min-height: 600px;
}
.UIStandardFrame_Container {
	margin: 0px auto; width: 960px; padding-top: 20px;
}
.UIStandardFrame_Content {
	margin: 0px; padding: 0px; width: 760px; float: left;
}
.UIStandardFrame_SidebarAds {
	margin: 0px; padding: 0px; width: 200px; float: right; -ms-word-wrap: break-word;
}
.UIFullPage_Container {
	margin: 0px auto; padding: 20px 12px 0px; width: 940px;
}
.empty_message {
	background: rgb(246, 247, 249); padding: 20px 20px 50px; text-align: center; line-height: 17px; font-size: 13px;
}
.see_all {
	text-align: right;
}
.standard_status_element {
	visibility: hidden;
}
.standard_status_element.async_saving {
	visibility: visible;
}
img.tracking_pixel {
	width: 1px; height: 1px; visibility: hidden; position: absolute;
}
._43o4 {
	margin: 0px; padding: 0px; white-space: nowrap;
}
._468f {
	
}
._45hc {
	vertical-align: middle; display: inline-block; list-style-type: none; position: relative; max-width: 100%;
}
._45hd {
	vertical-align: middle; display: inline-block; list-style-type: none; position: relative; max-width: 100%;
}
._45hc a {
	display: block; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
#facebook ._-kb.mac {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#facebook ._-kb.sf {
	letter-spacing: -0.02em; font-family: San Francisco, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}
#facebook ._-kb.apple {
	font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}
#facebook ._-kb.segoe {
	font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
#facebook ._-kb.roboto {
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
#facebook ._-kb div {
	font-family: inherit;
}
#facebook ._-kb span {
	font-family: inherit;
}
#facebook ._-kb a {
	font-family: inherit;
}
#facebook ._-kb h1 {
	font-family: inherit;
}
#facebook ._-kb h2 {
	font-family: inherit;
}
#facebook ._-kb h3 {
	font-family: inherit;
}
#facebook ._-kb h4 {
	font-family: inherit;
}
#facebook ._-kb h5 {
	font-family: inherit;
}
#facebook ._-kb h6 {
	font-family: inherit;
}
#facebook ._-kb p {
	font-family: inherit;
}
#facebook ._-kb button {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb input {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb label {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb select {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb td {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb textarea {
	letter-spacing: inherit; font-family: inherit;
}
#facebook ._-kb code {
	letter-spacing: normal; font-family: Menlo, Consolas, Monaco, monospace;
}
#facebook ._-kb pre {
	letter-spacing: normal; font-family: Menlo, Consolas, Monaco, monospace;
}
#facebook ._-kb .fixemoji {
	font-weight: 700;
}
.fbx #pageFooter {
	margin: auto; width: auto;
}
.navigationGrid {
	width: 300px; line-height: 20px;
}
.navigationGrid td {
	padding-right: 10px;
}
.hasLeftCol #pageFooter {
	clear: both; margin-left: 180px; background-color: rgb(255, 255, 255);
}
#pagefooter {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
#pageFooter {
	margin: 0px auto; width: 980px; color: rgb(115, 115, 115);
}
#pageFooter a {
	text-decoration: none; white-space: nowrap;
}
#pageFooter a:last-child {
	margin-right: 0px;
}
#pageFooter a:hover {
	text-decoration: underline;
}
#pageFooter .copyright {
	font-size: 11px;
}
#contentCurve {
	height: 8px; font-size: 1px; margin-bottom: 8px; border-bottom-color: rgb(221, 223, 226); border-bottom-width: 1px; border-bottom-style: solid;
}
.hasLeftCol #contentCurve {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); border-image: none; position: relative;
}
#globalContainer {
	margin: 0px auto; position: relative; -ms-zoom: 1;
}
.fbx #globalContainer {
	width: 981px;
}
.sidebarMode #globalContainer {
	padding-right: 205px;
}
.fbx #tab_canvas > div {
	padding-top: 0px;
}
.fb_content {
	padding-bottom: 20px;
}
.fbx .fb_content {
	padding-bottom: 0px;
}
.skipto {
	display: none;
}
.home .skipto {
	display: block;
}
#mainContainer {
	width: 100%; margin-left: -1px; display: block;
}
.hasLeftCol #mainContainer {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; min-height: 600px;
}
#leftCol {
	padding: 20px 0px 0px 2px; width: 179px; float: left; display: none; position: relative; -ms-word-wrap: break-word;
}
.hasLeftCol #leftCol {
	display: block;
}
#rightCol {
	width: 244px; padding-right: 0px; margin-top: -10000px; float: right; -ms-word-wrap: break-word;
}
.hasRightCol #rightCol {
	margin-top: 0px;
}
.hasRightCol .noFloat#rightCol {
	float: none;
}
.hasLeftCol #rightCol {
	padding-right: 20px;
}
#contentCol {
	padding-top: 15px; background-color: rgb(255, 255, 255);
}
.hasLeftCol #contentCol {
	margin-left: 181px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; min-height: 600px;
}
#headerArea {
	padding: 2px 0px 12px; margin-bottom: 5px;
}
.hasLeftCol #headerArea {
	margin: 0px 20px; width: 759px; float: left;
}
#contentArea {
	padding-left: 1px; margin-right: -1px; -ms-word-wrap: break-word;
}
.hasLeftCol #contentArea {
	margin-right: 0px; float: left;
}
.hasRightCol #contentArea {
	margin-right: 0px; float: left;
}
.hasLeftCol #contentArea {
	padding: 0px 20px; width: 759px;
}
.hasRightCol #contentArea {
	width: 714px;
}
.hasLeftCol .hasRightCol #contentArea {
	width: 493px; padding-right: 0px;
}
#bottomContent {
	padding: 0px 20px 12px; clear: both;
}
.fbPageBanner {
	position: relative; z-index: 301;
}
.hideBanner .fbPageBanner {
	display: none;
}
.fixedBody .fbPageBanner {
	display: none;
}
.fbPageBannerInner {
	margin: auto; min-width: 920px; max-width: 950px;
}
.sidebarMode .fbPageBannerInner {
	left: -102px; position: relative;
}
.localeSelectorList a.showMore {
	padding: 0px 6px 2px; background-color: rgb(233, 235, 238);
}
.localeSelectorList a.showMore:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(109, 132, 180);
}
._5vb_ #pageFooter {
	display: none;
}
html body._5vb_ #globalContainer {
	width: 976px;
}
._5vb_.hasLeftCol #headerArea {
	margin: 0px; width: 786px; padding-top: 0px;
}
._5vb_ {
	color: rgb(29, 33, 41); background-color: rgb(233, 235, 238);
}
._5vb_ #contentCol {
	color: rgb(29, 33, 41); background-color: rgb(233, 235, 238);
}
html ._5vb_.hasLeftCol #contentCol {
	padding-top: 11px; padding-left: 11px; margin-left: 172px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
._5vb_.hasLeftCol #topNav {
	padding: 11px 7px 0px 11px; margin-left: 172px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
._5vb_.hasLeftCol #topNav ~ #contentCol {
	padding-top: 0px;
}
._5vb_.hasLeftCol #leftCol {
	width: 164px; padding-top: 12px; padding-left: 8px;
}
._5vb_.hasLeftCol #mainContainer {
	margin-left: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
._5vb_.hasLeftCol #pageFooter {
	background: none;
}
html ._5vb_._5vb_.hasLeftCol div#contentArea {
	width: 786px; padding-right: 10px; padding-left: 0px;
}
html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
	width: 496px;
}
._5vb_.hasLeftCol ._5r-_ div#rightCol {
	padding: 0px 7px 0px 0px; width: 280px;
}
._30ny {
	padding: 80px 0px;
}
.menu_login_container table tr {
	vertical-align: top;
}
.menu_login_container table tr td {
	padding: 0px 0px 0px 14px;
}
.menu_login_container .html7magic {
	padding-bottom: 4px;
}
.menu_login_container .inputtext {
	border-color: rgb(29, 42, 91); margin: 0px; width: 142px;
}
.menu_login_container .inputpassword {
	border-color: rgb(29, 42, 91); margin: 0px; width: 142px;
}
.menu_login_container .login_form_label_field label {
	color: rgb(156, 180, 216); font-weight: normal;
}
.menu_login_container .login_form_label_field a {
	color: rgb(156, 180, 216); font-weight: normal;
}
.menu_login_container .login_form_label_field {
	padding-top: 4px;
}
.menu_login_container .html7magic label {
	color: rgb(255, 255, 255); padding-left: 1px; font-weight: normal;
}
.menu_login_container #email {
	direction: ltr;
}
.login_form_standalone_labels .inputtext {
	border-color: rgb(150, 166, 197); padding: 6px; width: 250px; font-size: 16px;
}
.login_form_standalone_labels .inputpassword {
	border-color: rgb(150, 166, 197); padding: 6px; width: 250px; font-size: 16px;
}
.login_form_standalone_labels label {
	color: rgb(29, 42, 91); font-size: 13px; font-weight: normal;
}
.login_form_standalone_labels .login_form_label_field a {
	color: rgb(54, 88, 153); font-size: 13px;
}
.login_form_standalone_labels td.html7magic {
	text-align: right;
}
.login_form_standalone_labels .uiButton input {
	padding: 3px 25px 5px; font-size: 13px;
}
table.login_form_standalone_labels tr td {
	padding: 0px; height: 30px; vertical-align: middle;
}
.loggedout_menubar_container {
	height: 82px; min-width: 980px;
}
.loggedout_menubar_tall_container {
	height: 110px; min-width: 980px;
}
.loggedout_menubar {
	margin: 0px auto; width: 980px; padding-top: 13px;
}
.loggedout_menubar_long {
	margin: 0px auto; width: 1012px; padding-top: 13px;
}
.loggedout_menubar .fb_logo {
	margin-top: 17px;
}
.loggedout_menubar_long .fb_logo {
	margin-top: 17px;
}
@media not all, not all
{
.loggedout_menubar i.fb_logo {
	background-position: 0px 0px; background-image: url("/rsrc.php/v3/y4/r/gf6iHxsw8zm.png"); background-size: 100% 100%;
}
}
.loggedout_menubar label.menu_login_show_link {
	top: 19px; color: rgb(156, 180, 216); position: relative;
}
._46-h {
	overflow: hidden; position: relative;
}
._46-i {
	position: absolute;
}
.pluginFacepileConnectLast {
	animation:show 0.4s; display: inline-block !important;
}
.pluginFacepileConnectConnected .pluginFacepileConnectFirst {
	animation:show 0.4s; display: inline-block !important;
}
.pluginFacepileConnectFirst {
	display: none !important;
}
.pluginFacepileConnectConnected .pluginFacepileConnectLast {
	display: none !important;
}
._2lqg {
	background: rgb(246, 247, 249); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(233, 235, 238) rgb(233, 235, 238); border-image: none; -ms-overflow-y: auto;
}
._2lqg > div {
	width: 100%; height: 100%; position: relative; box-sizing: border-box;
}
._h7n {
	background: rgb(255, 255, 255); border-color: rgb(233, 235, 238) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 2px; position: relative; box-shadow: 0px 1px 2px rgba(0,0,0,0.12);
}
._h7n ._h7o {
	margin: 2px 0px; right: 8px; position: absolute;
}
._2lqh {
	width: 100%;
}
._2p3a ._3x-2 {
	overflow: hidden;
}
._3o6i {
	margin-bottom: 10px;
}
._57i_ {
	color: rgb(75, 79, 86); line-height: 1.358; margin-bottom: 2px;
}
._57i_ a {
	color: rgb(29, 33, 41); font-weight: bold;
}
._57j2 ._57j3 li {
	margin-top: 2px; margin-right: 2px;
}
._1drm {
	background: rgb(255, 255, 255); overflow: hidden; position: relative;
}
._1drm ._1drn {
	border: 1px solid rgb(0, 0, 0); border-image: none;
}
._1drm ._1dro {
	left: 0px; top: 0px; right: 0px; bottom: 40px; position: absolute; z-index: 1;
}
._1b90 ._1dro {
	bottom: 0px;
}
._2zfs {
	background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: -1;
}
._1dro ._1drp {
	color: rgb(54, 88, 153); line-height: 1.358; overflow: hidden; font-size: 18px; font-weight: 500; margin-bottom: -5px; display: inline-block; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
._1dro ._1drq {
	color: rgb(29, 33, 41); line-height: 1.358; overflow: hidden; font-size: 12px; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
._1drm ._1z7u {
	left: 0px; height: 24px; right: 0px; bottom: 0px; position: absolute; z-index: 2;
}
._4o5p .pluginConnectButtonConnected {
	border: 1px solid rgba(0, 0, 0, 0.12); border-image: none; background-clip: padding-box;
}
._4o5p .pluginConnectButtonDisconnected {
	border: 1px solid rgba(0, 0, 0, 0.12); border-image: none; background-clip: padding-box;
}
._4o5q button {
	border: 1px solid rgba(0, 0, 0, 0.12); border-image: none; background-clip: padding-box;
}
._1drm._1b90 {
	border: 1px solid rgb(233, 235, 238); border-image: none;
}
._1drm._1ds4 {
	border: 1px solid rgb(233, 235, 238); border-image: none;
}
._1drm._1ds3 ._1drn {
	border: 2px solid rgb(255, 255, 255); border-image: none; box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
}
._1drm._1ds3 ._1drp {
	color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}
._1drm._1ds3 ._1drq {
	color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}
._1drm._1ds3 ._1drq ._2tnv {
	color: rgb(255, 255, 255); text-shadow: 0px 2px 4px rgba(0,0,0,0.9);
}
._1drm._1ds3 ._1drq ._4o5p {
	text-shadow: none;
}
._1drm._1ds4 ._1z7u {
	background: rgb(246, 247, 249); padding-top: 7px; border-top-color: rgb(233, 235, 238); border-top-width: 1px; border-top-style: solid;
}
.pluginConnectButton a._opc {
	margin: 0px; opacity: 1;
}
form.async_saving a._opc {
	margin: 0px; opacity: 1;
}
.pluginConnectButton a._opd {
	color: rgb(144, 148, 156);
}
._29bd {
	text-decoration: none;
}
._29bd:hover {
	text-decoration: none;
}
._18fj {
	margin-right: -2px; margin-left: -3px;
}
._9zc {
	display: inline-block; position: relative;
}
._2p78 {
	display: inline-block;
}
._9zc ._2p78 {
	left: 50%; top: 50%; margin-top: -50%; margin-left: -50%; display: block; position: absolute;
}
._9zc ._2p78._2p78 {
	transform: none;
}
._2p79 {
	width: 13px; height: 13px;
}
._9-y {
	width: 13px; height: 13px;
}
._9-y._3j7l {
	background-position: -140px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7m {
	background-position: -154px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7n {
	background-position: -28px -98px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7o {
	background-position: -126px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7p {
	background-position: -42px -98px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7q {
	background-position: -70px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7r {
	background-position: -14px -98px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3j7s {
	background-position: -84px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3rya {
	background-position: -98px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._3qr6 {
	background-position: -112px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._4vps {
	background-position: 0px -98px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3j7m {
	background-position: -14px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3j7n {
	background-position: -56px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3j7o {
	background-position: 0px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3j7q {
	background-position: -134px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3j7r {
	background-position: -42px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._3qr6 {
	background-position: -148px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9-y._pxi._4vps {
	background-position: -28px -84px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a {
	width: 16px; height: 16px;
}
._9-- {
	width: 16px; height: 16px;
}
._2p7a._3j7l {
	background-position: -17px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7l {
	background-position: -17px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7m {
	background-position: -34px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7m {
	background-position: -34px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7n {
	background-position: -85px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7n {
	background-position: -85px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7p {
	background-position: -102px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7p {
	background-position: -102px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7o {
	background-position: 0px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7o {
	background-position: 0px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7q {
	background-position: -102px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7q {
	background-position: -102px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7r {
	background-position: -68px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7r {
	background-position: -68px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3j7s {
	background-position: -119px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3j7s {
	background-position: -119px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3rya {
	background-position: -136px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3rya {
	background-position: -136px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._3qr6 {
	background-position: -153px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._3qr6 {
	background-position: -153px -50px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7a._4vps {
	background-position: -51px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._9--._4vps {
	background-position: -51px -67px; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
._2p7b {
	width: 48px; height: 48px;
}
._9-_ {
	width: 48px; height: 48px;
}
._9-w {
	width: 96px; height: 96px;
}
._9_0 {
	width: 96px; height: 96px;
}
.signupBanner div.signup_bar_container {
	background-color: transparent;
}
.signupBanner .signup_box {
	margin: 0px auto; padding: 0px; width: 980px; position: relative;
}
.signupBanner .signup_btn {
	left: 180px; top: -42px; position: absolute;
}
.signupBanner .signup_btn_thickbar {
	left: 180px; top: -70px; position: absolute;
}
.signup_area {
	margin-top: 23px;
}
._53jh {
	border-bottom-color: rgb(19, 55, 131); border-bottom-width: 1px; border-bottom-style: solid; min-height: 42px; background-image: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%); background-color: rgb(59, 89, 152);
}
.tinyViewport ._53jh {
	
}
._52ju {
	text-align: left;
}
._52jv {
	text-align: center;
}
._52jw {
	text-align: right;
}
.uiBoxGray {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(242, 242, 242);
}
.uiBoxDarkgray {
	border: 1px solid rgb(102, 102, 102); border-image: none; color: rgb(204, 204, 204); background-color: rgb(51, 51, 51);
}
.uiBoxLightblue {
	border: 1px solid rgb(216, 223, 234); border-image: none; background-color: rgb(237, 239, 244);
}
.uiBoxRed {
	border: 1px solid rgb(221, 60, 16); border-image: none; background-color: rgb(255, 235, 232);
}
.uiBoxWhite {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
.uiBoxYellow {
	border: 1px solid rgb(226, 200, 34); border-image: none; background-color: rgb(255, 249, 215);
}
.uiBoxOverlay {
	background: rgba(255, 255, 255, 0.85); border: 1px solid rgba(59, 89, 153, 0.65); border-image: none; -ms-zoom: 1;
}
.noborder {
	border: currentColor; border-image: none;
}
.topborder {
	border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-bottom-width: medium; border-left-width: medium; border-right-style: none; border-bottom-style: none; border-left-style: none;
}
.bottomborder {
	border-top-color: currentColor; border-right-color: currentColor; border-left-color: currentColor; border-top-width: medium; border-right-width: medium; border-left-width: medium; border-top-style: none; border-right-style: none; border-left-style: none;
}
.dashedborder {
	border-style: dashed;
}
.pas {
	padding: 5px;
}
.pam {
	padding: 10px;
}
.pal {
	padding: 20px;
}
.pts {
	padding-top: 5px;
}
.ptm {
	padding-top: 10px;
}
.ptl {
	padding-top: 20px;
}
.prs {
	padding-right: 5px;
}
.prm {
	padding-right: 10px;
}
.prl {
	padding-right: 20px;
}
.pbs {
	padding-bottom: 5px;
}
.pbm {
	padding-bottom: 10px;
}
.pbl {
	padding-bottom: 20px;
}
.pls {
	padding-left: 5px;
}
.plm {
	padding-left: 10px;
}
.pll {
	padding-left: 20px;
}
.phs {
	padding-right: 5px; padding-left: 5px;
}
.phm {
	padding-right: 10px; padding-left: 10px;
}
.phl {
	padding-right: 20px; padding-left: 20px;
}
.pvs {
	padding-top: 5px; padding-bottom: 5px;
}
.pvm {
	padding-top: 10px; padding-bottom: 10px;
}
.pvl {
	padding-top: 20px; padding-bottom: 20px;
}
.mas {
	margin: 5px;
}
.mam {
	margin: 10px;
}
.mal {
	margin: 20px;
}
.mts {
	margin-top: 5px;
}
.mtm {
	margin-top: 10px;
}
.mtl {
	margin-top: 20px;
}
.mrs {
	margin-right: 5px;
}
.mrm {
	margin-right: 10px;
}
.mrl {
	margin-right: 20px;
}
.mbs {
	margin-bottom: 5px;
}
.mbm {
	margin-bottom: 10px;
}
.mbl {
	margin-bottom: 20px;
}
.mls {
	margin-left: 5px;
}
.mlm {
	margin-left: 10px;
}
.mll {
	margin-left: 20px;
}
.mhs {
	margin-right: 5px; margin-left: 5px;
}
.mhm {
	margin-right: 10px; margin-left: 10px;
}
.mhl {
	margin-right: 20px; margin-left: 20px;
}
.mvs {
	margin-top: 5px; margin-bottom: 5px;
}
.mvm {
	margin-top: 10px; margin-bottom: 10px;
}
.mvl {
	margin-top: 20px; margin-bottom: 20px;
}
a._39g3 {
	color: rgb(66, 103, 178);
}
a._39g5 {
	color: rgb(144, 148, 156);
}
a._39g6 {
	color: rgb(29, 33, 41);
}
a._39g9 {
	color: rgb(64, 128, 255);
}
.uiButton {
	padding: 2px 6px; border-radius: 2px; text-align: center; line-height: 18px; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: top; display: inline-block; white-space: nowrap; cursor: pointer; text-shadow: none;
}
#facebook .sf .uiButton {
	font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}
.uiButton {
	border: 1px solid rgb(206, 208, 212); border-image: none; background-color: rgb(246, 247, 249);
}
.uiButtonSuppressed:active {
	border: 1px solid rgb(206, 208, 212); border-image: none; background-color: rgb(246, 247, 249);
}
.uiButtonSuppressed:focus {
	border: 1px solid rgb(206, 208, 212); border-image: none; background-color: rgb(246, 247, 249);
}
.uiButtonSuppressed:hover {
	border: 1px solid rgb(206, 208, 212); border-image: none; background-color: rgb(246, 247, 249);
}
.uiButton + .uiButton {
	margin-left: 4px;
}
.uiButton:hover {
	text-decoration: none; background-color: rgb(233, 235, 238);
}
.uiButton:active {
	border-color: rgb(190, 194, 201); background-color: rgb(221, 223, 226);
}
.uiButtonDepressed {
	border-color: rgb(190, 194, 201); background-color: rgb(221, 223, 226);
}
.uiButton .img {
	overflow: hidden; margin-top: 3px; vertical-align: top;
}
.uiButtonLarge .img {
	margin-top: 4px;
}
.uiButton .customimg {
	margin-top: 1px;
}
.uiButtonText {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; color: rgb(75, 79, 86); line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; display: inline-block; white-space: nowrap; cursor: pointer;
}
.uiButton input {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; color: rgb(75, 79, 86); line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; display: inline-block; white-space: nowrap; cursor: pointer;
}
.uiButtonOverlay {
	border-color: rgba(0, 0, 0, 0.35); border-radius: 2px; position: relative; background-image: none; background-clip: padding-box; background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay:hover {
	border-color: rgba(0, 0, 0, 0.35); border-radius: 2px; position: relative; background-image: none; background-clip: padding-box; background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay:focus {
	border-color: rgba(59, 89, 152, 0.5); background-color: rgba(249, 250, 252, 0.9);
}
.uiButtonOverlay:active {
	border-color: rgba(59, 89, 152, 0.5); background-color: rgba(249, 250, 252, 0.9);
}
form.async_saving .uiButton.uiButtonOverlay {
	border-color: rgba(180, 180, 180, 0.8); background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay.uiButtonDisabled {
	border-color: rgba(180, 180, 180, 0.8); background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay.uiButtonDisabled:active {
	border-color: rgba(180, 180, 180, 0.8); background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay.uiButtonDisabled:focus {
	border-color: rgba(180, 180, 180, 0.8); background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay.uiButtonDisabled:hover {
	border-color: rgba(180, 180, 180, 0.8); background-color: rgba(255, 255, 255, 0.8);
}
.uiButtonOverlay.uiButtonDepressed {
	background-color: rgba(0, 0, 0, 0.05);
}
.uiButtonOverlay::before {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.02);
}
.uiButtonOverlay:hover::before {
	background-color: rgba(0, 0, 0, 0.08);
}
.uiButtonSpecial {
	border-color: rgb(66, 183, 42); background-color: rgb(66, 183, 42);
}
.uiButtonSpecial:hover {
	border-color: rgb(54, 164, 32); background-color: rgb(54, 164, 32);
}
.uiButtonSpecial:active {
	border-color: rgb(43, 146, 23); background-color: rgb(43, 146, 23);
}
.uiButtonSpecial.uiButtonDepressed {
	border-color: rgb(43, 146, 23); background-color: rgb(43, 146, 23);
}
form.async_saving .uiButton.uiButtonSpecial {
	border-color: rgb(172, 224, 162); background-color: rgb(172, 224, 162);
}
.uiButtonSpecial.uiButtonDisabled {
	border-color: rgb(172, 224, 162); background-color: rgb(172, 224, 162);
}
.uiButtonSpecial.uiButtonDisabled:active {
	border-color: rgb(172, 224, 162); background-color: rgb(172, 224, 162);
}
.uiButtonSpecial.uiButtonDisabled:focus {
	border-color: rgb(172, 224, 162); background-color: rgb(172, 224, 162);
}
.uiButtonSpecial.uiButtonDisabled:hover {
	border-color: rgb(172, 224, 162); background-color: rgb(172, 224, 162);
}
.uiButtonConfirm {
	border-color: rgb(41, 72, 125); background-color: rgb(66, 103, 178);
}
.uiButtonConfirm:hover {
	border-color: rgb(41, 72, 125); background-color: rgb(54, 88, 153);
}
.uiButtonConfirm:active {
	border-color: rgb(41, 72, 125); background-color: rgb(41, 72, 125);
}
.uiButtonConfirm.uiButtonDepressed {
	border-color: rgb(41, 72, 125); background-color: rgb(41, 72, 125);
}
form.async_saving .uiButton.uiButtonConfirm {
	border-color: rgb(156, 180, 216); background-color: rgb(156, 180, 216);
}
.uiButtonConfirm.uiButtonDisabled {
	border-color: rgb(156, 180, 216); background-color: rgb(156, 180, 216);
}
.uiButtonConfirm.uiButtonDisabled:active {
	border-color: rgb(156, 180, 216); background-color: rgb(156, 180, 216);
}
.uiButtonConfirm.uiButtonDisabled:focus {
	border-color: rgb(156, 180, 216); background-color: rgb(156, 180, 216);
}
.uiButtonConfirm.uiButtonDisabled:hover {
	border-color: rgb(156, 180, 216); background-color: rgb(156, 180, 216);
}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText {
	color: rgb(255, 255, 255);
}
form.async_saving .uiButton.uiButtonSpecial input {
	color: rgb(255, 255, 255);
}
form.async_saving .uiButton.uiButtonConfirm .uiButtonText {
	color: rgb(255, 255, 255);
}
form.async_saving .uiButton.uiButtonConfirm input {
	color: rgb(255, 255, 255);
}
.uiButtonSpecial .uiButtonText {
	color: rgb(255, 255, 255);
}
.uiButtonSpecial input {
	color: rgb(255, 255, 255);
}
.uiButtonSpecial.uiButtonDisabled .uiButtonText {
	color: rgb(255, 255, 255);
}
.uiButtonSpecial.uiButtonDisabled input {
	color: rgb(255, 255, 255);
}
.uiButtonConfirm .uiButtonText {
	color: rgb(255, 255, 255);
}
.uiButtonConfirm input {
	color: rgb(255, 255, 255);
}
.uiButtonConfirm.uiButtonDisabled .uiButtonText {
	color: rgb(255, 255, 255);
}
.uiButtonConfirm.uiButtonDisabled input {
	color: rgb(255, 255, 255);
}
form.async_saving .uiButton {
	border-color: rgb(221, 223, 226); background-color: rgb(246, 247, 249);
}
.uiButtonDisabled {
	border-color: rgb(221, 223, 226); background-color: rgb(246, 247, 249);
}
.uiButtonDisabled:active {
	border-color: rgb(221, 223, 226); background-color: rgb(246, 247, 249);
}
.uiButtonDisabled:focus {
	border-color: rgb(221, 223, 226); background-color: rgb(246, 247, 249);
}
.uiButtonDisabled:hover {
	border-color: rgb(221, 223, 226); background-color: rgb(246, 247, 249);
}
form.async_saving .uiButton .img {
	opacity: 0.5;
}
.uiButtonDisabled .img {
	opacity: 0.5;
}
form.async_saving .uiButtonText {
	color: rgb(190, 194, 201);
}
form.async_saving .uiButton input {
	color: rgb(190, 194, 201);
}
.uiButtonDisabled .uiButtonText {
	color: rgb(190, 194, 201);
}
.uiButtonDisabled input {
	color: rgb(190, 194, 201);
}
form.async_saving .uiButton {
	cursor: default;
}
form.async_saving .uiButtonText {
	cursor: default;
}
form.async_saving .uiButton input {
	cursor: default;
}
.uiButtonDepressed {
	cursor: default;
}
.uiButtonDepressed .uiButtonText {
	cursor: default;
}
.uiButtonDepressed input {
	cursor: default;
}
.uiButtonDisabled {
	cursor: default;
}
.uiButtonDisabled .uiButtonText {
	cursor: default;
}
.uiButtonDisabled input {
	cursor: default;
}
:not(.uiButtonSpecial):not(.uiButtonConfirm).uiButtonDepressed .uiButtonText {
	color: rgb(64, 128, 255);
}
:not(.uiButtonSpecial):not(.uiButtonConfirm).uiButtonDepressed input {
	color: rgb(64, 128, 255);
}
.uiButtonLarge {
	line-height: 19px; font-size: 13px;
}
.uiButtonLarge .uiButtonText {
	line-height: 19px; font-size: 13px;
}
.uiButtonLarge input {
	line-height: 19px; font-size: 13px;
}
.uiButtonSuppressed {
	background: none; border-color: transparent;
}
.uiButtonNoText .img {
	margin-right: -1px; margin-left: -1px;
}
.uiButtonNoText input {
	vertical-align: top;
}
.uiLoadingIndicatorAsync.uiLoadingIndicatorAsync {
	display: none;
}
.async_saving .uiLoadingIndicatorAsync {
	display: inline;
}
.uiHeader h2 {
	color: rgb(22, 38, 67); font-size: 16px;
}
.uiHeader h2 a {
	color: rgb(22, 38, 67);
}
.uiHeader h3 {
	color: rgb(51, 51, 51); font-size: 12px;
}
.uiHeader h4 {
	color: rgb(51, 51, 51); font-size: 12px;
}
.uiHeader h5 {
	color: rgb(102, 102, 102);
}
.uiHeader h6 {
	color: rgb(102, 102, 102);
}
.uiHeader .uiHeaderTitle {
	
}
.uiHeaderWithImage .uiHeaderTop {
	position: relative;
}
.uiHeaderWithImage .uiHeaderTitle {
	padding-left: 22px;
}
.uiHeaderImage {
	left: 0px; position: absolute;
}
.uiHeader h2 .uiHeaderImage {
	top: 2px;
}
.uiHeaderTopBorder {
	padding-top: 0.5em; border-top-color: rgb(170, 170, 170); border-top-width: 1px; border-top-style: solid;
}
div.uiHeaderTopBorder {
	margin-left: 0px;
}
.uiHeaderTopAndBottomBorder {
	padding: 5px 0px; border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(233, 233, 233); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.uiHeaderMiddleBorder {
	margin: 0.5em 0px 1.5em; height: 0.8em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.uiHeaderMiddleBorder .uiHeaderTitle {
	top: 0px; position: absolute; background-color: rgb(255, 255, 255);
}
.uiHeaderMiddleBorder .uiHeaderActions {
	top: 0px; position: absolute; background-color: rgb(255, 255, 255);
}
.uiHeaderMiddleBorder .uiHeaderTitle {
	left: 0px; padding-right: 0.5em;
}
.uiHeaderMiddleBorder .uiHeaderActions {
	right: 0px; padding-left: 0.5em;
}
.uiHeaderMiddleBorder .uiButton {
	margin-top: -2px;
}
.uiHeaderBottomBorder {
	padding-bottom: 0.5em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
.uiHeaderPage {
	padding: 6px 0px 16px;
}
.uiHeaderPage .uiHeaderTitle {
	line-height: 20px; padding-bottom: 2px; vertical-align: bottom; min-height: 20px;
}
.uiHeaderPage .uiHeaderActions {
	margin-top: -1px;
}
.uiHeaderPage .uiHeaderTop .fsl {
	margin-top: 3px;
}
.uiHeaderNav {
	border-color: rgb(233, 235, 238); margin: 8px 0px 0px 6px; padding: 7px 6px 3px 5px;
}
.uiHeaderNavEmpty {
	padding-top: 6px;
}
.uiHeaderNav h4 {
	color: rgb(127, 127, 127);
}
.uiHeaderSection {
	padding: 4px 6px 5px; border-top-color: rgb(233, 235, 238); border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: medium; border-top-style: solid; border-bottom-style: none; background-color: rgb(246, 247, 249);
}
.uiSideHeader {
	padding: 4px 6px 5px; border-top-color: rgb(233, 235, 238); border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: medium; border-top-style: solid; border-bottom-style: none; background-color: rgb(246, 247, 249);
}
._3cxu ._4cg3 {
	margin-top: -4px;
}
._43q9 ._4cg3 {
	margin-top: -2px;
}
._43qc ._4cg3 {
	margin-top: -1px;
}
._43qf ._4cg3 {
	margin-top: -3px;
}
._3cxu ._43q7 {
	margin: 4px 4px 0px 0px;
}
._43q9 ._43q7 {
	margin: 2px 2px 0px 0px;
}
._43qc ._43q7 {
	margin: 1px 1px 0px 0px;
}
._43qf ._43q7 {
	margin: 3px 3px 0px 0px;
}
._43qm li:last-child {
	margin-right: 0px;
}
._43q7 a {
	display: block; position: relative;
}
._2rt_ > div {
	vertical-align: bottom;
}
._43q7 .img {
	vertical-align: bottom;
}
._43qm .showAll {
	display: block;
}
._43qm ._43qn {
	border-width: 1px 0px 0px; border-color: rgb(87, 127, 188); padding: 3px;
}
._3cxu ._43qn {
	margin: 4px 4px 0px 0px; line-height: 18px;
}
._43q9 ._43qn {
	margin: 2px 2px 0px 0px; line-height: 18px;
}
._43qc ._43qn {
	margin: 1px 1px 0px 0px; line-height: 24px;
}
._43qf ._43qn {
	margin: 3px 3px 0px 0px; line-height: 44px;
}
.uiScaledImageContainer {
	overflow: hidden; position: relative;
}
.uiScaledImageCentered {
	text-align: center; background-color: rgb(246, 247, 249);
}
.uiScaledImageContainer img {
	height: 100%; position: relative; min-height: 100%;
}
.uiScaledImageContainer .scaledImageFitWidth {
	width: 100%; height: auto;
}
.uiScaledImageContainer .scaledImageFitHeight {
	width: auto; height: 100%;
}
.uiScaledImageContainer .verticallyAligned {
	vertical-align: middle; min-height: 0px;
}
.non-editable-photo {
	margin: 0px 0px 110px 20px; display: inline-block;
}
._rv {
	width: 100px; height: 100px;
}
._rw {
	width: 50px; height: 50px;
}
:only-child._s0 {
	display: block;
}
._54rv {
	width: 16px; height: 16px;
}
._3d80 {
	width: 28px; height: 28px;
}
._54ru {
	width: 32px; height: 32px;
}
._tzw {
	width: 40px; height: 40px;
}
._54rt {
	width: 48px; height: 48px;
}
._54rs {
	width: 56px; height: 56px;
}
._1m9m {
	width: 64px; height: 64px;
}
._ry {
	width: 24px; height: 24px;
}
.uiP {
	line-height: 16px;
}
.uiPLarge {
	line-height: 18px;
}
.uiTokenizer {
	background: rgb(255, 255, 255);
}
.uiNormalTokenizer .uiTypeahead {
	width: 100%;
}
.uiNormalTokenizer .tokenarea {
	overflow: hidden; padding-top: 6px;
}
._4-u2 {
	border-width: 1px; border-style: solid; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 3px; border-image: none;
}
._4-u2 > ._4-u3 {
	border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
._4-u2 > :first-child._4-u3 {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none; border-top-left-radius: 3px; border-top-right-radius: 3px;
}
._4-u2 > :last-child._4-u3 {
	border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;
}
._2yq ._4-u2 {
	border-color: transparent; border-right-width: 0px; border-left-width: 0px; position: relative;
}
._2yq ._4-u2::before {
	border-width: 1px; border-style: solid; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 4px; border-image: none; left: -1px; top: -1px; right: -1px; bottom: -1px; position: absolute; content: ""; pointer-events: none;
}
._4-u5 {
	background-color: rgb(233, 235, 238);
}
._4-u7 {
	background-color: rgb(64, 128, 255);
}
._57d8 {
	background-color: rgb(246, 247, 249);
}
._4-u8 {
	background-color: rgb(255, 255, 255);
}
.pop_container_advanced {
	background: rgba(82, 82, 82, 0.7); padding: 10px; border-radius: 8px;
}
.generic_dialog {
	left: 0px; top: 0px; width: 100%; height: 0px; overflow: visible; position: fixed; z-index: 200;
}
.generic_dialog_modal {
	height: 100%; z-index: 400; background-color: rgba(252, 252, 252, 0.9);
}
.generic_dialog_fixed_overflow {
	height: 100%; z-index: 400; background-color: rgba(252, 252, 252, 0.9);
}
.generic_dialog_fixed_overflow {
	-ms-overflow-x: auto; -ms-overflow-y: scroll;
}
.generic_dialog_fixed_overflow .generic_dialog_popup {
	height: auto; padding-bottom: 40px;
}
.generic_dialog_overflow_mode body {
	overflow: hidden !important;
}
.generic_dialog_popup {
	margin: 0px auto; width: 465px; height: 0px; overflow: visible;
}
.generic_dialog div.dialog_loading {
	padding: 10px; border: 1px solid rgb(96, 96, 96); border-image: none; font-size: 24px; background-color: rgb(246, 247, 249);
}
.pop_content {
	direction: ltr;
}
.pop_dialog_rtl .pop_content {
	direction: rtl;
}
.pop_content h2.dialog_title {
	background: rgb(109, 132, 180); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(54, 88, 153) rgb(54, 88, 153) currentColor; margin: 0px; border-image: none; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.pop_content h2.secure {
	background: url("/rsrc.php/v3/yV/r/N4CM9eriGaf.png") no-repeat 98% rgb(109, 132, 180);
}
.pop_content h2.loading {
	background: url("/rsrc.php/v3/y-/r/AGUNXgX_Wx3.gif") no-repeat 98% rgb(109, 132, 180);
}
.pop_content h2.dialog_loading {
	background: url("/rsrc.php/v3/y-/r/AGUNXgX_Wx3.gif") no-repeat 400px 10px rgb(109, 132, 180); padding-right: 40px;
}
.pop_content h2 span {
	padding: 5px 10px; display: block;
}
.pop_content .dialog_content {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(85, 85, 85); border-image: none;
}
.pop_content .dialog_content.dialog_content_titleless {
	border-top-color: rgb(85, 85, 85); border-top-width: 1px; border-top-style: solid;
}
.pop_content .dialog_loading {
	display: none;
}
.dialog_loading_shown .dialog_title {
	display: none;
}
.dialog_loading_shown .dialog_content {
	display: none;
}
.dialog_loading_shown .dialog_loading {
	display: block;
}
.pop_content .dialog_body {
	padding: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.omitDialogFooter .pop_content .dialog_body {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.pop_content .dialog_summary {
	background: rgb(246, 247, 249); padding: 8px 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.pop_content .dialog_buttons {
	background: rgb(246, 247, 249); padding: 8px 10px; position: relative;
}
.pop_content .dialog_buttons_msg {
	line-height: 17px; padding-top: 4px;
}
.pop_content .dialog_buttons_msg .uiInputLabel {
	line-height: 14px; position: static;
}
.pop_content .dialog_buttons_msg .uiInputLabel .uiInputLabelLabel {
	display: inline;
}
.pop_content .dialog_footer {
	background: 0% rgb(246, 247, 249);
}
.full_bleed .pop_content .dialog_body {
	padding: 0px;
}
.uiProfileBlockContent {
	overflow: hidden;
}
.UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIFullPage_Container {
	background: rgb(233, 235, 238);
}
.UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIStandardFrame_Container {
	background: rgb(233, 235, 238);
}
.UIPage_LoggedOut .UIFullPage_Container {
	width: auto; padding-top: 46px; padding-bottom: 46px;
}
.UIPage_LoggedOut .UIStandardFrame_Container {
	width: auto; padding-top: 46px; padding-bottom: 46px;
}
.UIPage_LoggedOut .fbPhotosGrid .photoDetails {
	width: inherit;
}
._4ki > li {
	border-width: 0px 0px 0px 1px; display: inline-block;
}
._4kg > li {
	border-width: 1px 0px 0px;
}
._509- > li {
	vertical-align: top;
}
._509_ > li {
	vertical-align: middle;
}
._50a0 > li {
	vertical-align: bottom;
}
.uiList > li:first-child {
	border-width: 0px;
}
._4ks > li {
	border-style: solid; border-color: rgb(233, 235, 238);
}
._4kt > li {
	border-style: solid; border-color: rgb(204, 204, 204);
}
._4ku > li {
	border-style: solid; border-color: rgb(170, 170, 170);
}
._4of {
	color: rgb(54, 88, 153); margin-left: 12px; list-style-type: square;
}
._4ki._703 > li {
	padding-right: 20px; padding-left: 20px;
}
._4ki._704 > li {
	padding-right: 5px; padding-left: 5px;
}
._4ki._6-j > li {
	padding-right: 10px; padding-left: 10px;
}
._4ki._6-i > li {
	padding-right: 0px;
}
._4kg._704 > li {
	padding-top: 5px; padding-bottom: 5px;
}
._4kg._6-j > li {
	padding-top: 10px; padding-bottom: 10px;
}
._4kg._703 > li {
	padding-top: 20px; padding-bottom: 20px;
}
._4kg._6-i > li {
	padding-bottom: 0px;
}
._4kg._6-h > li:first-child {
	padding-top: 0px;
}
._4kg._6-h > li:last-child {
	padding-bottom: 0px;
}
._4ki._6-h > li:first-child {
	padding-left: 0px;
}
._4ki._6-h > li:last-child {
	padding-right: 0px;
}
.sp_S0U23jmEMiT {
	width: 13px; height: 13px; display: inline-block; background-image: url("/rsrc.php/v3/ya/r/cFbTw_4p3RU.png"); background-repeat: no-repeat; background-size: auto;
}
.sp_S0U23jmEMiT.sx_d084af {
	background-position: 0px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_8bf3c5 {
	background-position: -17px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_bb6f09 {
	background-position: -34px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_5fea12 {
	background-position: -51px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_28d262 {
	background-position: -21px -35px; width: 20px; height: 11px;
}
.sp_S0U23jmEMiT.sx_1d973e {
	background-position: -56px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_13218a {
	background-position: -69px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_436fce {
	background-position: -68px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_5ee93d {
	background-position: -85px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_cb6256 {
	background-position: -10px -35px; width: 10px; height: 14px;
}
.selected .sp_S0U23jmEMiT.sx_cb6256 {
	background-position: 0px -35px;
}
.sp_S0U23jmEMiT.sx_18a85d {
	background-position: -42px -35px; width: 9px; height: 5px;
}
.sp_S0U23jmEMiT.sx_7ae2d8 {
	background-position: -119px -67px; width: 14px; height: 14px;
}
.sp_S0U23jmEMiT.sx_88cd34 {
	background-position: 0px 0px; width: 170px; height: 34px;
}
.sp_S0U23jmEMiT.sx_3efc36 {
	background-position: -82px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_df6c01 {
	background-position: -95px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_b0ab00 {
	background-position: -108px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_a77c30 {
	background-position: -121px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_587c75 {
	background-position: -134px -98px; width: 12px; height: 12px;
}
.sp_S0U23jmEMiT.sx_79f8d6 {
	background-position: -134px -67px;
}
.sp_S0U23jmEMiT.sx_d25d6d {
	background-position: -148px -67px;
}
.sp_S0U23jmEMiT.sx_3cb440 {
	background-position: 0px -84px;
}
.sp_S0U23jmEMiT.sx_972739 {
	background-position: -14px -84px;
}
.sp_S0U23jmEMiT.sx_df2bc8 {
	background-position: -28px -84px;
}
.sp_S0U23jmEMiT.sx_1e85a9 {
	background-position: -42px -84px;
}
.sp_S0U23jmEMiT.sx_a2271e {
	background-position: -56px -84px;
}
.sp_S0U23jmEMiT.sx_a7dada {
	background-position: -70px -84px;
}
.sp_S0U23jmEMiT.sx_3144f9 {
	background-position: -84px -84px;
}
.sp_S0U23jmEMiT.sx_b25558 {
	background-position: -98px -84px;
}
.sp_S0U23jmEMiT.sx_ceca53 {
	background-position: -112px -84px;
}
.sp_S0U23jmEMiT.sx_0ab864 {
	background-position: -126px -84px;
}
.sp_S0U23jmEMiT.sx_1eddaf {
	background-position: -140px -84px;
}
.sp_S0U23jmEMiT.sx_abcd4e {
	background-position: -154px -84px;
}
.sp_S0U23jmEMiT.sx_4c222a {
	background-position: 0px -98px;
}
.sp_S0U23jmEMiT.sx_9ed105 {
	background-position: -14px -98px;
}
.sp_S0U23jmEMiT.sx_b2accb {
	background-position: -28px -98px;
}
.sp_S0U23jmEMiT.sx_2ab83e {
	background-position: -42px -98px;
}
.sp_S0U23jmEMiT.sx_06d4c9 {
	background-position: -102px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_61b16e {
	background-position: -119px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_7d06e7 {
	background-position: -136px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_a2374f {
	background-position: -153px -50px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_d8fc68 {
	background-position: 0px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_ca8dec {
	background-position: -17px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_be14d1 {
	background-position: -34px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_e0d478 {
	background-position: -51px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_edbb7a {
	background-position: -68px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_482683 {
	background-position: -85px -67px; width: 16px; height: 16px;
}
.sp_S0U23jmEMiT.sx_f0a995 {
	background-position: -102px -67px; width: 16px; height: 16px;
}
#bootloader_eBzQR {
	height: 42px;
}
.bootloader_eBzQR {
	display: block !important;
}
